@use '../abstracts/' as a;


.mobile-menu{
    background-color: a.$off-white;
    // background-color: red;
    width: 255px;
    height: 100%;
    padding: 1.5rem 1.5rem 0 1.2rem;
    position: fixed;
    right: 0;
    &__links{
        display: flex;
        margin-top: 120px;
        flex-direction: column;
        gap: 1.75rem;
    }
}

.icon-menu-close{
    float: right;
    margin: .25rem .5rem 0 0;
    cursor: pointer;
}